# Copyright 2021-2025, Collabora, Ltd.
# SPDX-License-Identifier: CC0-1.0

name: Build release artifacts
on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  # Currently Android artifacts are generated and signed internally before publication to GitHub.
  # android:
  #   uses: ./.github/workflows/android.yml
  #   with:
  #     release: true

  msvc-build:
    uses: ./.github/workflows/windows-matrix.yml
    with:
      organizeAndRelease: true

  macos-build:
    uses: ./.github/workflows/macos-build.yml
